# This is a basic workflow to help you get started with Actions

name: gsExample with pseudo tex

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the main branch
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch:
  schedule:
    - cron: "14 3 * * 1"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  gridspeccerExample:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install .
    - name: Make the plot
      run: |
        cd examples
        gridspeccer
    - name: 'Upload PDF as artifacts'
      uses: actions/upload-artifact@v3
      with:
        name: pdf
        path: fig/*.pdf
